h1 {
    font-size: 3rem;
    letter-spacing: -2px;
}

img {
    max-width: 300px;
}
.margin {
    margin: 3rem 2rem 3rem 2rem;
}
.divContainer__centered {
    display: flex;
    align-items: center;
    justify-content: center
}
/*.divContainer__important {*/
    /*padding-top: 1em;*/
/*}*/

.content {
    max-width: 1260px;
    margin: auto;
    padding-top: 7%;
    padding-bottom: 3%;
}

.gallery__item {
    transition: all .2s ease-in-out;
}
.gallery__item:hover {
    transform: scale(1.2);
    cursor: pointer;
}

a, a:Visited {
    text-decoration: none;
    color: black;
}

.contact__informaton {
    font-size: 1.2rem;
}

.section {
    padding-top: 12%;
}
.section__intro {
    height: 410px;
}
.contact__item__padding {
    padding-right: 10px;
    padding-left: 10px;
}
@media screen and (max-width: 400px) {
    Dialog {
        max-width: 320px;
    }
}