h1 {
    font-size: 4rem;
    letter-spacing: -2px;
}
.margin {
    margin: 3rem 2rem 3rem 2rem;
}
.divContainer__centered {
    display: flex;
    align-items: center;
    justify-content: center
}
.divContainer__important {
    padding-top: 3rem;

}

.content {
    max-width: 1260px;
    margin: auto;
}